body{
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', sans-serif;
}

/* In your global CSS file */

section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}

section.animate-in {
  opacity: 1;
  transform: translateY(0);
}

.content__article__popup{
  transform: translateX(-90px);
  opacity: 0;
  transition: opacity 1.2s ease, transform 1.2s ease;
  transition-delay: 0.2s;
}


.content__article__popup.animate-in {
  opacity: 1;
  transform: translateX(0);
}


.popup__dial{
  transform: translateX(-60px);
  opacity: 0;
  transition: opacity 1.5s ease, transform 1.5s ease;
  transition-delay: 0.3s;
  color: white;
  background-color: var(--cyan);
  display: flex;
  flex-direction: row;
  box-shadow: none;
  border-radius: 1rem;
  border: solid var(--cyan);
  margin-left: 6rem;
  width: 70%;
  padding: 1rem;
  @media screen and (max-width: 1100px){
      width: 90%;    
      margin-left: 0;  
  }
  p{
      padding: 1rem;
  }
}

.popup__dial.animate-in{
  opacity: 1;
  transform: translateX(0);
}

p, li{  
  line-height: 1.5;
  font-weight: 800;
}

h3, h2, h4{font-family: 'Poppins', sans-serif;}

h3{font-weight: 600;}
h4{
  font-weight: 500;
}

strong{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}