// Variables for easy customization
$card-size: 6rem;
$card-gap: 2rem;
$animation-duration: 30s;



// Carousel container
.carousel-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 8rem; // Adjust as needed
  @media screen and (max-width: 1100px){
    height: 8rem;
  }
}

// Carousel track
.carousel-track {
  display: flex;
  position: absolute;
  left: 0;
  height: auto;
  width: 200%;
  gap: $card-gap;
  animation: slide $animation-duration linear infinite;
  padding-bottom: 1rem;
  &:hover {
    animation-play-state: paused;
  }
}

// Carousel card
.carousel-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: $card-size;
  flex-shrink: 0;
  border-radius: 20%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);


  transition: transform 0.3s ease, box-shadow 0.3s ease;
  @media screen and (max-width: 1100px){
    width: 8rem;
    height: 5rem;
}
  &:hover {
    transform: scale(0.9);
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);


  }

  > img {
    width: 100%;
    height: 100%;
    border-radius: 10%;
    object-fit: cover;
  }
}

// Animation keyframes
@keyframes slide {
  from { left: 0; }
  to { left: -100%; }
}