footer{
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    color: white;
    padding-top: 1rem;
}

.last_popup{
    position: relative;
    width: 0;
    height: 0;
    color: var(--blue);
    bottom: 5rem;
    left: 70%;
    margin: 0;
    .content__article__popup{
        position: absolute;
        height: auto;
    }
    @media screen and (max-width: 1100px){
    .content__article__popup{
        display: none;
    }
    }
}

.footer__up, .footer__down,
.footer__down__section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    @media screen and (max-width: 1100px){
        flex-direction: column;   
    }
    a{
        transition-duration: 0.2s;
        color: white;
        text-decoration: underline var(--blue);
        padding-top: 1rem;
        &:hover{
            text-decoration: underline white;
        }
    }
}

.footer__down{
    border-top: solid white;
    background-color: var(--blue);
    margin-top: 2rem;
    padding: 1rem;
    .footer__down__section__link{
        padding-left: 1rem;
        padding-right: 1rem;
        color: white;
        text-decoration: none;
    }
}

.footer__down__section{
    display: flex;
    align-items: center;
    @media screen and (max-width: 1100px){
        flex-direction: row;  
        text-align: center; 
    }
}

.footer__up{
    width: 70%;

}

.footer__up__section{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    @media screen and (max-width: 1100px){
    padding-left: 3rem;
    }

    .footer__up__section__link{
        padding-top: 1rem;
        padding-bottom: 1rem;
        color: white;
        text-decoration: none;
        transition-duration: 0.2s;
        &:hover{
            text-decoration: underline;
        }
        @media screen and (max-width: 1100px){
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;     
        }
    }
}

.footer__up__section__link :hover, .footer__up__section__link :hover {
    text-decoration: underline;
}

.footer__up__section__row{
    display: flex;
    flex-direction: row;
}

.footer__up__section__title__logo{
    height: 3rem;
    padding-right: 1rem;
}

.footer__up__section__row__img{
    height: 2rem;
    padding-right: 1rem;
}

