.content__stats__row{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 3rem;    
        padding-bottom: 1rem;
        border-right: solid rgb(165, 165, 165, 0.5);
        h3{
            font-weight: 700;
            font-size: 1.5rem;
        };
        p{
            margin: 0
        };
    };
    div:nth-child(5){
        border-right: none;
    }
    @media screen and (max-width: 1100px){
        flex-direction: column;
        div{
            padding-right: 1rem;
            border-right: none;
            border-bottom: solid rgb(165, 165, 165, 0.5);
        }      
    }
}

.content__article__bubble{
    color: white;
    background-color: var(--cyan);
    position: sticky;
    height: fit-content;
    max-height: calc(100vh - 80px);
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    box-shadow: 0.5r 0.5rem 1rem var(--grey);
    border-radius: 2rem;
    margin-left: 6rem;
    width: 50%;
    @media screen and (max-width: 1100px){
        width: 100%;    
        margin-left: 0;    
    }
    p{
        padding: 1rem;
    }
}


.banner__row{
    background-color: var(--blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 2rem;
    @media screen and (max-width: 1100px){
        flex-direction: column;   
    }
}

.banner__row__container__img{
    height: 100%;
    @media screen and (max-width: 1100px){
        width: 15rem;   
    }
}
.banner__row__container{
    width: 40%;
    color: white;
    font-size: 1rem;
    padding: 2rem;
    height: auto;
        @media screen and (max-width: 1100px){
        width: 100%;    
        margin-left: 0; 
        font-size: 1rem;   
    }
    p{
        padding: 1rem;
        padding-right: 5rem;
    }
}

.content__block__row__container__everest{
    position: relative;
    img{
        width:100%;
    }
    @media screen and (max-width: 1100px){
        top: 4rem;
        margin-bottom: 0;
        padding-bottom: 0;
        img{
            display: none;
        }
    }
}

.content__block__row__container__text__row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:start;
    gap: 3rem;
    h3{
        font-size:larger;
        color: var(--cyan);
    }
}

.content__block__row__container__text__row:nth-child(2) h3 {
    color: var(--lightBlue)
  }
  .content__block__row__container__text__row:nth-child(3) h3 {
    color: var(--cyan)
  }
  .content__block__row__container__text__row:nth-child(4) h3 {
    color: var(--blue)
  }

.equipe{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h5{
        color: var(--cyan);
    }
    h3{
        font-size: 2rem;
        width: 50%;
        text-align: center;
        @media screen and (max-width: 1100px){
            width: auto;    
        }
    }
}

.equipe__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.equipe__container__content{
    width: 11rem;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}