:root{
    --white: white;
    --blue: rgb(38, 42, 58);
    --darkBlue: rgb(30, 33, 43);
    --grey: grey;
}

.banner{
    height: auto;
    padding-top: 3rem;
    background-color: var(--blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 3rem;
    padding-top: 8rem;
    padding-bottom: 6rem;
    h4{
        font-size: 1.5rem;
        @media screen and (max-width: 1100px){
            font-size: 1rem;
        }
    }
    h2{
        font-size: 2.5rem;
        font-weight: 500;
        width: 75%;
        text-align: center;
        @media screen and (max-width: 1100px){
            font-size: 1.5rem;      
        }
    }
}

.content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 2rem;
    gap: 2rem;
    justify-content: space-around;
}

.content__article, .content__article__temoignage{
    display: block;
    padding: 1rem;
    width: 35rem;
    height: auto;
    h3{
        font-size: 2rem;
        @media screen and (max-width: 1100px){
            font-size: 1.2rem;
        }
    }

    @media screen and (max-width: 1100px){
        width: 100%;
        height: auto;
        
    }
}

.content__article__img{
    height: 100%;
    width: 100%;
}

.banner__row{
    background-color: var(--blue);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
    @media screen and (max-width: 1100px){
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }
}

.banner__row__container{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 2rem;
    width: 45%;
    @media screen and (max-width: 1100px){  
        width: 100% ;
        text-align: center;      
    }
    h3{
        font-size: 2rem;
        @media screen and (max-width: 1100px){
            font-size: 1.5rem;
        }
    };
    p{
        font-size: 1.2rem; 
        @media screen and (max-width: 1100px){
            font-size: 1rem;
            
        } 
    };
}

.content__article__bubble{
    display: flex;
    flex-direction: row;
    width: 75%;
    box-shadow: 0.5r 0.5rem 1rem var(--grey);
    border-radius: 2rem;
    @media screen and (max-width: 1100px){
        width: auto;        
    }
    p{
        padding: 1rem;
    }
}

.content__article__temoignage{
    box-shadow: 1rem 1rem 2rem var(--grey);
    border-radius: 2rem;
    align-items: center;
    transition-duration: 0.2s;
    &:hover{
        scale:110%
    }
}

.everest{
    display: flex;
    flex-direction: column;
}

.everest__bgWhite{
    background-color: var(--white);
    padding-left: 2rem;
    padding-right: 2rem;
}

.everest__bgWhite__header{
    font-size: 2rem;
    @media screen and (max-width: 1100px){
      font-size: 1.5rem;   
    }
}

.everest__bgWhite__content{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.everest__bgWhite__content__text{
    padding-left: 5rem;
    width: 40%;
    h3{
        color: #FF685A;
        font-size: 4rem;
        @media screen and (max-width: 1100px){
            font-size: 3rem;                   
        }
    }
    @media screen and (max-width: 1100px){
        padding: 0;  
        padding-bottom: 1rem; 
        width: auto;     
    }
}

.everest__bgWhite__content__img{
    img{
        width: 40rem;
    };
    @media screen and (max-width: 1100px){
        display: none;
    }
}

.everest__bgBlue{
    background-color: var(--blue);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 5rem;
    color: var(--white);
}

.everest__bgBlue__content__text{
    padding-left: 5rem;
    width: 40%;
    h3{
        color: #5a86ff;
        font-size: 4rem;
        @media screen and (max-width: 1100px){
            font-size: 3rem;   
        }
    }
    @media screen and (max-width: 1100px){
        width: auto;     
        padding: 0;
    }
}

.equipe{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3{
        font-size: 2rem;
        width: 50%;
        text-align: center;
        @media screen and (max-width: 1100px){
            width: auto;    
        }
    }
}

.equipe__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.equipe__container__content{
    width: 11rem;
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}